@model ViewSaleViewModel
@{
    ViewBag.Title = "Detalles de la venta";
}

<div class="page-title">
    <a href="@Url.Action("Index", "Sales")" class="btn btn-link">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Regresar
    </a>
</div>
<div class="page-title">
    <h2> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @ViewBag.Title</h2>
    <div class="btn-group action-buttons" role="group" aria-label="Action buttons">
        <a href="@Url.Action("CreateInvoice", "Sales", new { id = Model.Id })" target="_blank" class="btn btn-success">
            <span class="glyphicon glyphicon-save-file"></span> Descargar factura
        </a>
        <a href="#" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span> Editar
        </a>
        <button form="DeleteSale-@(Model.Id)" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Borrar
        </button>
        @using (Html.BeginForm("DeleteSale", "Sales", FormMethod.Post,
            new { id = "DeleteSale-" + Model.Id, @class = "delete-sale-button" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Id", Model.Id)
        }
    </div>
</div>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Ventas", "Index", "Sales")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

@{ Html.RenderPartial("_ResultMessage"); }

<div class="row">
    @* Delivery state *@
    @if(Model.IsHomeDelivery)
    {
        Html.RenderPartial("Partials/_DeliveryStateProgressBar", Model.DeliveryStateId);
    }

    @* Sale and client info *@
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Información de la venta</h3>
            </div>
            <div class="panel-body row">
                <dl class="col-sm-6">
                    <dt>Número de venta:</dt>
                    <dd>@Model.Id</dd>

                    <dt>Estado de venta:</dt>
                    <dd>
                        <span class="label @(Model.IsCompleted ? "label-success" : "label-default")">
                            @(Model.IsCompleted ? "Completado" : "Pendiente")
                        </span>
                    </dd>

                    <dt>Tipo de entrega:</dt>
                    <dd>@(Model.IsHomeDelivery ? "A domicilio" : "En local")</dd>

                    <dt>Estado de pago:</dt>
                    <dd>
                        <span class="label @(Model.IsPaymentCompleted ? "label-success" : "label-danger")">
                            @(Model.IsPaymentCompleted ? "Pagado" : "No pagado")
                        </span>
                    </dd>

                    <dt>Fecha de venta:</dt>
                    <dd>@Model.SaleDate</dd>

                    <dt>Fecha de entrega:</dt>
                    <dd>
                        @(Model.DeliveryDate is null ? "[Sin fecha]" : Model.DeliveryDate.ToString())
                    </dd>

                    <dt>Observaciones:</dt>
                    <dd>@Model.Observation</dd>
                </dl>

                <dl class="col-sm-6">
                    <dt>DUI del cliente:</dt>
                    <dd>@Model.Client.Dui</dd>

                    <dt>Nombres:</dt>
                    <dd>@Model.Client.FirstName</dd>

                    <dt>Apellidos:</dt>
                    <dd>@Model.Client.LastName</dd>

                    <dt>Email:</dt>
                    <dd>@Model.Client.Email</dd>

                    <dt>Teléfono:</dt>
                    <dd>@Model.Client.Phone</dd>

                    <dt>Dirección:</dt>
                    <dd>@Model.Client.Address</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@* Sale details *@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Detalles de la venta</h3>
    </div>
    <div class="panel-footer text-right">
        <h4><span class="">Total elementos: </span> @Model.SaleDetailsQuantity</h4>
        <h4><span class="">Subtotal: </span> $@Model.SaleDetailsSubtotal</h4>
        <h4>IVA (@(Model.Taxes * 100)%): $@Model.SaleDetailsTaxes</h4>

        <h3 class="text-success text-bold">TOTAL: $@Model.SaleDetailsTotal</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio actual</th>
                    <th>Descuento</th>
                    <th>Nuevo precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var saleDetail in Model.SaleDetails)
                {
                    <tr>
                        <td>@saleDetail.Id</td>
                        <td><img src="@(saleDetail.PhotoBase64 ?? Url.Content("~/Content/images/image-not-found.png"))" style="width: 64px; height: 64px;" /></td>
                        <td>@saleDetail.ProductName</td>
                        <td>@saleDetail.Quantity</td>
                        <td>$@saleDetail.CurrentPrice</td>
                        <td>$@saleDetail.Discount</td>
                        <td>$@saleDetail.NewPrice</td>
                        <td class="text-bold">$@saleDetail.Total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    @{ Html.RenderPartial("Partials/_DeleteSaleScripts"); }
}