@model List<CategoryViewModel>
@{
    ViewBag.Title = "Categorías";
}

<div class="page-title">
    <h2><span class="glyphicon glyphicon-tag"></span> @ViewBag.Title</h2>
    <a href="@Url.Action("CreateCategory", "Categories")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar categoría
    </a>
</div>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

@{ Html.RenderPartial("_ResultMessage"); }

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de categorías</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Creado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td class="@(category.Description is null ? "text-bold" : "")">
                            @(category.Description ?? "[Sin descripción]")
                        </td>
                        <td>@category.Created</td>
                        <td class="btn-group action-buttons" role="group" aria-label="Action buttons">
                            <a href="@Url.Action("EditCategory","Categories", new { id = category.Id })" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>

                            <button form="DeleteCategory-@(category.Id)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            @using (Html.BeginForm("DeleteCategory", "Categories", FormMethod.Post,
                                new { id = "DeleteCategory-" + category.Id, @class = "delete-category-button" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Id", category.Id)
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    @Styles.Render("~/Content/jquery-confirm")
    @Scripts.Render("~/bundles/jquery-confirm")

    <script>

        // Confirm category deletion.
        $(".delete-category-button").on('submit', function (e) {
            e.preventDefault();

            $.confirm({
                icon: 'glyphicon glyphicon-trash',
                title: '¿Está seguro?',
                content: 'Una vez borrada la categoría, no podrá recuperarla.',
                type: 'red',
                buttons: {
                    confirm: {
                        text: 'Si, borrar',
                        btnClass: 'btn btn-danger',
                        action: function () {
                            e.currentTarget.submit();
                        }
                    },
                    cancel: {
                        text: 'Cancelar',
                        btnClass: 'btn btn-default',
                    }
                },
                closeIcon: true,
            })
        });

    </script>
}