@model List<UnitTypeViewModel>
@{
    ViewBag.Title = "Unidades de medida";
}

<div class="page-title">
    <h2><span class="glyphicon glyphicon-scale"></span> @ViewBag.Title</h2>
    <a href="@Url.Action("CreateUnitType", "UnitTypes")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar medida
    </a>
</div>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

@{ Html.RenderPartial("_ResultMessage"); }

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de unidades de medida</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Creado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var unitType in Model)
                {
                    <tr>
                        <td>@unitType.Id</td>
                        <td>@unitType.Name</td>
                        <td class="@(unitType.Description is null ? "text-bold" : "")">
                            @(unitType.Description ?? "[Sin descripción]")
                        </td>
                        <td>@unitType.Created</td>
                        <td>
                            <div class="action-buttons" role="group" aria-label="Action buttons">
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("EditUnitType", "UnitTypes", new { id = unitType.Id })">
                                                <span class="glyphicon glyphicon-pencil"></span> Editar
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <button form="DeleteUnitType-@(unitType.Id)" class="btn btn-link text-danger">
                                                <span class="glyphicon glyphicon-trash"></span> Borrar
                                            </button>
                                            @using (Html.BeginForm("DeleteUnitType", "UnitTypes", FormMethod.Post,
                                                new { id = "DeleteUnitType-" + unitType.Id, @class = "delete-unit-type-button" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("Id", unitType.Id)
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    @Styles.Render("~/Content/jquery-confirm")
    @Scripts.Render("~/bundles/jquery-confirm")

    <script>

        // Confirm unit deletion.
        $(".delete-unit-type-button").on('submit', function (e) {
            e.preventDefault();

            $.confirm({
                icon: 'glyphicon glyphicon-trash',
                title: '¿Está seguro?',
                content: 'Una vez borrada la unidad de medida, no podrá recuperarla.',
                type: 'red',
                buttons: {
                    confirm: {
                        text: 'Si, borrar',
                        btnClass: 'btn btn-danger',
                        action: function () {
                            e.currentTarget.submit();
                        }
                    },
                    cancel: {
                        text: 'Cancelar',
                        btnClass: 'btn btn-default',
                    }
                },
                closeIcon: true,
            })
        });

    </script>
}