@model ViewSaleViewModel

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading panel-header-with-buttons">
            <h3 class="panel-title">Estado de envío</h3>
            <button class="btn btn-primary" data-toggle="modal" data-target="#changeDeliveryStateModal">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>
        <div class="panel-body">
            <div class="tracking-progress-bar">
                <ul>
                    <li class="@(Model.DeliveryStateId >= DeliveryState.Ordered ? "active" : "") step0"></li>
                    <li class="@(Model.DeliveryStateId >= DeliveryState.Loaded ? "active" : "") step0"></li>
                    <li class="@(Model.DeliveryStateId >= DeliveryState.Shipped ? "active" : "") step0"></li>
                    <li class="@(Model.DeliveryStateId >= DeliveryState.Delivered ? "active" : "") step0"></li>
                </ul>
            </div>
            <div class="tracking-progress-icons">
                <div class="icon">
                    <img src="@Url.Content("~/Content/images/ordered.png")" alt="Ordenado" />
                    <h4>Ordenado</h4>
                </div>
                <div class="icon">
                    <img src="@Url.Content("~/Content/images/loaded.png")" alt="Cargado" />
                    <h4>Cargado</h4>
                </div>
                <div class="icon">
                    <img src="@Url.Content("~/Content/images/shipped.png")" alt="Enviado" />
                    <h4>Enviado</h4>
                </div>
                <div class="icon">
                    <img src="@Url.Content("~/Content/images/delivered.png")" alt="Entregado" />
                    <h4>Entregado</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CHANGE DELIVERY STATE MODAL -->
<div class="modal fade" id="changeDeliveryStateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-list-alt"></span> Cambiar estado de envío
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SetDeliveryState", "Sales", FormMethod.Post, new { @class = "row" }))
                {
                    @Html.Hidden("Id", Model.Id)

                    <div class="form-group col-lg-12">
                        <label class="control-label">Nuevo estado de envío</label>
                        @Html.DropDownListFor(m => m.DeliveryStateId, Model.DeliveryStatesList, new { @class = "form-control" })
                    </div>
                }
            </div>
            <div class="modal-footer text-center">
                <a href="#" id="change-delivery-state" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                </a>
                <button type="reset" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>