@model PaginatedList<ProductViewModel>
@{
    ViewBag.Title = "Productos";
}

<div class="page-title">
    <h2><span class="glyphicon glyphicon-inbox"></span> @ViewBag.Title</h2>
    <a href="@Url.Action("CreateProduct", "Products")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar producto
    </a>
</div>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

@{ Html.RenderPartial("_ResultMessage"); }

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de productos</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Unidad de medida</th>
                    <th>Existencias</th>
                    <th>Precio individual</th>
                    <th>Total</th>
                    <th>Categoría</th>
                    <th>Creado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.PageItems)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td><img src="@(product.PhotoBase64 ?? Url.Content("~/Content/images/image-not-found.png"))" style="width: 64px; height: 64px;" /></td>
                        <td>@product.Name</td>
                        <td>@product.UnitTypeName</td>
                        <td>@product.Stock</td>
                        <td>$@product.Price</td>
                        <td>$@product.Total</td>
                        <td>@product.CategoryName</td>
                        <td>@product.Created</td>
                        <td class="btn-group action-buttons" role="group" aria-label="Action buttons">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#viewDetailsModal" onclick="addProductDetails(@product.Id)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <a href="@Url.Action("EditProduct", "Products", new { id = product.Id })" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>

                            <button form="DeleteProduct-@(product.Id)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            @using (Html.BeginForm("DeleteProduct", "Products", FormMethod.Post,
                                new { id = "DeleteProduct-" + product.Id, @class = "delete-product-button" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Id", product.Id)
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav class="pagination-container">
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : "")">
            <a href="@Url.Action("Index", "Products", new { page = 1 })">&laquo;</a>
        </li>

        @for (int position = Model.CurrentPage - 2; position <= Model.CurrentPage + 2; position++)
        {
            if (position > 0 && position <= Model.TotalPages)
            {
                <li class="@(Model.CurrentPage == position ? "active" : "")">
                    <a href="@Url.Action("Index", "Products", new { page = position })">@position</a>
                </li>
            }
        }

        <li class="@(Model.IsLastPage == true ? "disabled" : "")">
            <a href="@Url.Action("Index", "Products", new { page = Model.TotalPages })">&raquo;</a>
        </li>
    </ul>
</nav>

<!-- PRODUCT DETAILS MODAL -->
<div class="modal fade" id="viewDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-list-alt"></span> Detalles del producto
                </h4>
            </div>
            <div class="modal-body view-details-modal">
                <p class="product-name"><span id="product-id"></span> - <span id="product-name"></span></p>
                <figure class="view-details-photo-container">
                    <img id="product-photo" class="img-rounded" src="" />
                </figure>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Descripción:</dt>
                    <dd id="product-description"></dd>

                    <dt>Unidad de medida:</dt>
                    <dd id="product-unit-type" ></dd>

                    <dt>Categoría:</dt>
                    <dd id="product-category"></dd>

                    <dt>Creado:</dt>
                    <dd id="product-created"></dd>
                </dl>
                <hr />
                <dl class="dl-horizontal stock-details">
                    <dt>Existencias:</dt>
                    <dd id="product-stock"></dd>

                    <dt>Precio unidad:</dt>
                    <dd id="product-price"></dd>

                    <dt>Valor total:</dt>
                    <dd id="product-total"></dd>
                </dl>
            </div>
            <div class="modal-footer text-center">
                <a href="#" id="edit-product-url" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                </a>
                <button type="reset" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Styles.Render("~/Content/jquery-confirm")
    @Scripts.Render("~/bundles/jquery-confirm")

<script>

        // Confirm product deletion.
        $(".delete-product-button").on('submit', function (e) {
            e.preventDefault();

            $.confirm({
                icon: 'glyphicon glyphicon-trash',
                title: '¿Está seguro?',
                content: 'Una vez borrado el producto, no podrá recuperarlo.',
                type: 'red',
                buttons: {
                    confirm: {
                        text: 'Si, borrar',
                        btnClass: 'btn btn-danger',
                        action: function () {
                            e.currentTarget.submit();
                        }
                    },
                    cancel: {
                        text: 'Cancelar',
                        btnClass: 'btn btn-default',
                    }
                },
                closeIcon: true,
            })
        });

        // Add product details in modal
        function addProductDetails(id) {
            var url = "@Url.Action("GetProductById", "Data")";
            var defaultPhotoUrl = "@Url.Content("~/Content/images/image-not-found.png")";

            $.ajax({
                url,
                data: { id},
                type: 'GET',
                dataType: 'json',

                success: function (data) {
                    $("#product-id").text(data.Id)
                    $('#product-name').text(data.Name);
                    $('#product-photo').attr('src', data.PhotoUrl);

                    if (!data.PhotoUrl) {
                        $('#product-photo').attr('src', defaultPhotoUrl);
                    }

                    $('#product-description').text(data.Description);
                    $('#product-unit-type').text(data.UnitTypeName);
                    $('#product-category').text(data.CategoryName);

                    // Transform date to ISO Format
                    var dateMilliseconds = data.Created.match(/\d+/);
                    var date = new Date(parseInt(dateMilliseconds));
                    $('#product-created').text(date.toISOString());

                    $('#product-stock').text(data.Stock);
                    $('#product-price').text('$' + data.Price);
                    $('#product-total').text('$' + data.Total);

                    $('#edit-product-url').attr('href', "@Url.Action("EditProduct", "Products")/" + id)
                },

                error: function (xhr, status) {
                    alert("Error");
                }
            })
        }

</script>
}