@model List<SalesSystem.Presentation.Models.ViewModels.Products.ProductViewModel>
@{
    ViewBag.Title = "Productos";
}

<div class="page-title">
    <h2><span class="glyphicon glyphicon-inbox"></span> @ViewBag.Title</h2>
    <a href="@Url.Action("CreateProduct", "Products")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar producto
    </a>
</div>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de productos</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Unidad de medida</th>
                    <th>Existencias</th>
                    <th>Precio individual</th>
                    <th>Total</th>
                    <th>Categoría</th>
                    <th>Creado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr class="action-buttons">
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.UnitTypeName</td>
                        <td>@product.Stock</td>
                        <td>$@product.Price</td>
                        <td>$@product.Total</td>
                        <td>@product.CategoryName</td>
                        <td>@product.Created</td>
                        <td class="btn-group" role="group" aria-label="Action buttons">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></button>
                            <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>