@model List<ProductViewModel>
@{
    ViewBag.Title = "Productos";
}

<div class="page-title">
    <h2><span class="glyphicon glyphicon-inbox"></span> @ViewBag.Title</h2>
    <a href="@Url.Action("CreateProduct", "Products")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar producto
    </a>
</div>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

@{ Html.RenderPartial("_ResultMessage"); }

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de productos</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Unidad de medida</th>
                    <th>Existencias</th>
                    <th>Precio individual</th>
                    <th>Total</th>
                    <th>Categoría</th>
                    <th>Creado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.UnitTypeName</td>
                        <td>@product.Stock</td>
                        <td>$@product.Price</td>
                        <td>$@product.Total</td>
                        <td>@product.CategoryName</td>
                        <td>@product.Created</td>
                        <td class="btn-group action-buttons" role="group" aria-label="Action buttons">
                            <a href="@Url.Action("ViewProduct", "Products")" class="btn btn-primary">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a href="@Url.Action("EditProduct", "Products", new { id = product.Id })" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>

                            <button form="DeleteProduct-@(product.Id)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            @using (Html.BeginForm("DeleteProduct", "Products", FormMethod.Post, 
                                new { id = "DeleteProduct-" + product.Id, @class = "delete-product-button" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Id", product.Id)
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    @Styles.Render("~/Content/jquery-confirm")
    @Scripts.Render("~/bundles/jquery-confirm")

    <script>

        // Confirm product deletion.
        $(".delete-product-button").on('submit', function (e) {
            e.preventDefault();

            $.confirm({
                icon: 'glyphicon glyphicon-trash',
                title: '¿Está seguro?',
                content: 'Una vez borrado el producto, no podrá recuperarlo.',
                type: 'red',
                buttons: {
                    confirm: {
                        text: 'Si, borrar',
                        btnClass: 'btn btn-danger',
                        action: function () {
                            e.currentTarget.submit();
                        }
                    },
                    cancel: {
                        text: 'Cancelar',
                        btnClass: 'btn btn-default',
                    }
                },
                closeIcon: true,
            })
        });

    </script>
}